{% extends "base.html" %}
{% load static %}


{% block content %}

<div id="myCarousel" class="carousel slide carousel-fade" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active center-block">
      <img class="first-slide" src="{% static 'img/pneumatic-desk-6952958_1920.jpg' %}" alt="First slide">
      <div class="container">
        <div class="carousel-caption d-inline">
          <h1>Book a workspace with us.</h1>
          {% if request.user.is_authenticated %}
          <p><a class="btn btn-lg" href="{% url 'view_bookings' %}" role="button">Bookings</a></p> 
          {% else %}
          <p><a class="btn btn-lg" href="{% url 'account_login' %}" role="button">Login</a></p> 
          {% endif %}
        </div>
      </div>
    </div>
    <div class="carousel-item center-block">
      <img class="second-slide" src="{% static 'img/conference-table-593355_1920.jpg' %}" alt="Second slide">
      <div class="container">
        <div class="carousel-caption">
          <h1>Private offices and coworking spaces.</h1>
          <p><a class="btn btn-lg" href="#gallery" role="button">Options</a></p>
        </div>
      </div>
    </div>
    <div class="carousel-item center-block">
      <img class="third-slide" src="{% static 'img/office-workspace-6952950_1920.jpg' %}" alt="Third slide">
      <div class="container">
        <div class="carousel-caption">
          <h1>Premium location in the heart of Dublin city.</h1>
          <p><a class="btn btn-lg" href="#location" role="button">Location</a></p>
        </div>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>


      <!-- Marketing messaging and featurettes
      ================================================== -->
      <!-- Wrap the rest of the page in another container to center all the content. -->
      <h1 class="text-center mb-5 p-3" id="gallery">Our Office Spaces</h1>
      
      <div class="container marketing">
        <!-- Three columns of text below the carousel -->
        <div class="row">
          <div class="col-lg-4">
            <img class="img-thumbnail" src="{% static 'img/entrepreneur-593361_1920.jpg' %}" alt="Generic placeholder image">
            <h2 class="pt-3">Breakout Space</h2>
            <p>This is an informal space open to everyone, including visitors and partners. This area is separate from the usual working area. Designed for quick chats and spontaneous meetings, it is also usually an area for employees to relax, socialise or eat lunch.  We have 10 breakout spaces at our location.  A meeting room or desk booking is required.</p>
            {% if request.user.is_authenticated %}
            <p><a class="btn" href="{% url 'view_bookings' %}" role="button">Bookings &raquo;</a></p>
            {% else %}
            <p><a class="btn" href="{% url 'account_login' %}" role="button">Login &raquo;</a></p>
            {% endif %}
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img class="img-thumbnail" src="{% static 'img/meeting-594091_1920.jpg' %}" alt="Generic placeholder image">
            <h2  class="pt-3">Meeting Rooms</h2>
            <p>A room, typically within a business environment, which is provided for singular events such as business conferences and meetings.  We have 8 meeting rooms with capacity for between 8 and 20 people.  Meeting attendees can avail of our onsite catering services and cafe while attending meetings.  Booking is required. </p>
            {% if request.user.is_authenticated %}
            <p><a class="btn" href="{% url 'view_bookings' %}" role="button">Bookings &raquo;</a></p>
            {% else %}
            <p><a class="btn" href="{% url 'account_login' %}" role="button">Login &raquo;</a></p>
            {% endif %}
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img class="img-thumbnail" src="{% static 'img/office-594119_1920.jpg' %}" alt="Generic placeholder image">
            <h2  class="pt-3">Coworking Office</h2>
            <p>A working environment which provides office facilities for a variety of different people, from different businesses. They may be employees working out of the office, or freelancers and contractors.  We have 50 coworking spaces available.  This typically a desk space with access to breakout spaces and catering services.  Booking is reqired.</p>
            {% if request.user.is_authenticated %}
            <p><a class="btn" href="{% url 'view_bookings' %}" role="button">Bookings &raquo;</a></p>
            {% else %}
            <p><a class="btn" href="{% url 'account_login' %}" role="button">Login &raquo;</a></p>
            {% endif %}
          </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->


        <!-- START THE FEATURETTES -->

        <hr class="featurette-divider" id="location">

        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">Our Location. <span class="text-muted">Smithfield, a vibrant and well-connected place.</span></h2>
            <p class="lead">Our office space is located at Smithfield Square, Dublin, D07 SSXX.  Back in the 17th century, Smithfield was a marketplace for trading livestock and other goods. Today, it offers a central location, a stop on the Red Luas Line and a wide range of independent establishments like the Light House Cinema, Token, Generator Hostel and the Jameson Distillery.</p>
          </div>
          <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" src="{% static 'img/whiskey-factory-1-1622276.jpg' %}" alt="Generic placeholder image">
          </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Transport Links. <span class="text-muted">Close to all primary transport services.</span></h2>
            <p class="lead">The Luas light rail system that connects Dublins suburbs to its core. There are two lines: the Green Line runs from Broombridge in the north to Brides Glen in the south and the Red Line runs from Saggart in the west to The Point in the east. Dublin bus connects most parts of the city through a network of over 100 routes.</p>
          </div>
          <div class="col-md-5 order-md-1">
            <img class="featurette-image img-fluid mx-auto" src="{% static 'img/luas-dublin-4-1446434.jpg' %}" alt="Generic placeholder image">
          </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">Eating out. <span class="text-muted">Cafes and Restaurants in abundance.</span></h2>
            <p class="lead">To start off your day around Smithfield, grab a coffee in Proper Order Coffee Co on Haymarket St. Open since 2016.  Once you've given your pastry and coffee an hour to digest, walk around the corner to Urbanity for brunch. Head to Fish Shop for dinner. Depending on your mood, you can either go to the informal Benburb Street location for fish, chips and natural wine, or book a table at the Queen Street location for the set menu, showcasing the best Irish seafood they've been able to get their hands on that week.  To end this most amazing of days, head to dark Dublin dive Frank Ryans for a pint and a game of pool, or to The Cobblestone which has trad music sessions every night. </p>
          </div>
          <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" src="{% static 'img/naseem-buras-w5nIrLaq4dg-unsplash.jpg' %}" alt="Generic placeholder image">
          </div>
        </div>

        <hr class="featurette-divider">

        <!-- /END THE FEATURETTES -->

      </div><!-- /.container -->

{%endblock%}