{% extends "base.html" %}

{% block content %}

<div class="text-center p-3 mt-3">
    <h2>My Bookings</h2>
    <h4 class ="mt-5">Add a Booking<a href="{% url 'add_booking' %}"><i class="bi bi-plus-square add-button ml-3"></i></a></h4>
</div>

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr class="text-center">
                <th>Date</th>
                <th>Desk</th>
                <th>Description</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        {% for booking in booking_list %}
        <tbody>
            <tr class="text-center">
                <td>{{booking.desk_booking_date}}</td>
                <td>{{booking.desk}}</td>
                <td>{{booking.desk.description}} on Floor {{booking.desk.floor}}</td>
                <td><a href='{% url "update_booking" booking.id %}'><i class="bi bi-pencil-square"></i></a></td>    
                <td><a href='{% url "delete_booking" booking.id %}'><i class="bi bi-x-circle"></i></a></td>  
            </tr>
        </tbody>
        {% endfor %}
        
    </table>
</div>

{%endblock%}